/* register.css */
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .register-form-container {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .register-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 60vh;
  }
  
  .register-image {
    max-width: 100%;
    border-radius: 8px;
  }
  
  .password-toggle {
    cursor: pointer;
    margin-left: 10px;
    color: #1976d2;
  }
  